.footer_link {
	display: inline-block;
}

.footer_icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 20px;
}

.footer_icon.linkedin {
	background: url('../images/my_images/linkedin.svg') no-repeat;
}

.footer_icon.github {
	background: url('../images/my_images/github.svg') no-repeat;
}

.footer_icon.mail {
	background: url('../images/my_images/mail.svg') no-repeat;
}

#footer_contact_links {
	
	width: 160px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#footer_text {

	font-size:18px;
	margin-left: 28px;
	padding-bottom: 12px;
}