.node
{
    
background-image: -webkit-gradient(linear,left 0,left 100%,from(#e8e8e8),to(#f5f5f5));
background-image: -webkit-linear-gradient(top,#e8e8e8,0%,#f5f5f5,100%);
background-image: -moz-linear-gradient(top,#e8e8e8 0,#f5f5f5 100%);
background-image: linear-gradient(to bottom,#e8e8e8 0,#f5f5f5 100%);
background-repeat: repeat-x;
border-color: #dcdcdc;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8',endColorstr='#fff5f5f5',GradientType=0);
-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);

color: black;
}

/*overriding h2's for drupal's .block-views*/
.block-views > h2
{
    font-size: 3em;
    color: #2f2f2f;
}

#my_content
{
    width: 100%;
    height: 100%;
}

